**/*
!www
www/*
!www/assets
!www/assets/*
!www/assets/css/*
!www/assets/scripts
!www/assets/scripts/*
!www/assets/scripts/javascript/*
!www/src
!www/src/*
!www/src/css/*
!www/src/scripts
!www/src/scripts/*
!www/src/scripts/javascript/*
